# directories
cache
coverage
node_modules
out
docs
lib/forge-std
lib/openzeppelin-contracts
lib/openzeppelin-contracts-upgradeable
lib/openzeppelin-foundry-upgrades

# files
*.env
*.log
.DS_Store
.pnp.*
lcov.info
package-lock.json
pnpm-lock.yaml
yarn.lock
latestAddress.txt

# broadcasts
!broadcast
broadcast/*
broadcast/*/31337/
